<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width" />
		<title>Yata - Yet Another Todo App</title>

		<link href="libs/ionic/dist/css/ionic.min.css" rel="stylesheet" />
    	<link href="assets/css/style.css" rel="stylesheet" />
	</head>

	<body ng-app="yata" animation="slide-left-right-ios7" ng-controller="BaseController">
		<side-menus>
			<pane side-menu-content>
				<header-bar left-buttons="headerBtns.left" type="bar-positive" title="titles.headerTitle"
					right-buttons="headerBtns.right">
				</header-bar>
				<ng-view></ng-view>
			</pane>
			
			<side-menu side="left">
				<header-bar title="titles.menuTitle"></header-bar>
				<content has-header="true">
					<list>
						<a href="#/inbox" class="item item-icon-left">
							<i class="icon ion-android-inbox"></i>
							Inbox
							<span class="badge badge-positive" ng-if="(tasks.inbox | TaskCountFilter) > 0"
								ng-model="tasks.inbox">
								{{tasks.inbox | TaskCountFilter}}
							</span>
						</a>
						<div class="item item-divider">
							Time
						</div>
						<a href="#/past" class="item item-icon-left">
							<i class="icon ion-alert-circled"></i>
							Too late
							<span class="badge badge-positive"
								ng-if="(tasks | TaskCountRangeFilter:ranges.past) > 0">
								{{tasks | TaskCountRangeFilter:ranges.past}}
							</span>
						</a>
						<a href="#/today" class="item item-icon-left">
							<i class="icon ion-star"></i>
							Today
							<span class="badge badge-positive"
								ng-if="(tasks | TaskCountRangeFilter:ranges.today) > 0">
								{{tasks | TaskCountRangeFilter:ranges.today}}
							</span>
						</a>
						<a href="#/soon" class="item item-icon-left">
							<i class="icon ion-calendar"></i>
							Soon
							<span class="badge badge-positive"
								ng-if="(tasks | TaskCountRangeFilter:ranges.soon) > 0">
								{{tasks | TaskCountRangeFilter:ranges.soon}}
							</span>
						</a>
						<div class="item item-divider">
							Projects
						</div>
						<a href="#/project/{{project.id}}" class="item" ng-repeat="project in tasks.projects">
							{{project.title}}
							<span class="badge badge-positive" ng-if="(project | OpenTaskCountFilter) > 0">
								{{project | OpenTaskCountFilter}}
							</span>
						</a>
						<div class="item item-divider"></div>
						<a href="#/settings" class="item item-icon-left positive">
							<i class="icon ion-gear-a"></i> Settings
						</a>
					</list>
				</content>
			</side-menu>
		</side-menus>
    
    	<!-- Libraries -->
		<script type="text/javascript" src="libs/ionic/dist/js/ionic.min.js"></script>
		<script type="text/javascript" src="libs/angular/angular.min.js"></script>
		<script type="text/javascript" src="libs/angular-animate/angular-animate.min.js"></script>
		<script type="text/javascript" src="libs/angular-route/angular-route.min.js"></script>
		<script type="text/javascript" src="libs/angular-resource/angular-resource.min.js"></script>
		<script type="text/javascript" src="libs/angular-touch/angular-touch.min.js"></script>
		<script type="text/javascript" src="libs/angular-sanitize/angular-sanitize.min.js"></script>
		<script type="text/javascript" src="libs/angular-ui-router/release/angular-ui-router.min.js"></script>
		<script type="text/javascript" src="libs/angular-gestures/gestures.min.js"></script>
		<script type="text/javascript" src="libs/ionic/dist/js/ionic-angular.min.js"></script>
		<script type="text/javascript" src="libs/underscore/underscore-min.js"></script>
		<script type="text/javascript" src="libs/momentjs/min/moment.min.js"></script>
		
		<!-- Application -->
		<script type="text/javascript" src="app/app.js"></script>
		<script type="text/javascript" src="app/filters/OpenTaskCountFilter.js"></script>
		<script type="text/javascript" src="app/filters/RangeFilter.js"></script>
		<script type="text/javascript" src="app/filters/TaskCountFilter.js"></script>
		<script type="text/javascript" src="app/filters/TaskCountRangeFilter.js"></script>
		<script type="text/javascript" src="app/services/TodoService.js"></script>
		<script type="text/javascript" src="app/controllers/BaseController.js"></script>
		<script type="text/javascript" src="app/controllers/InboxController.js"></script>
		<script type="text/javascript" src="app/controllers/PastController.js"></script>
		<script type="text/javascript" src="app/controllers/ProjectController.js"></script>
		<script type="text/javascript" src="app/controllers/SettingsController.js"></script>
		<script type="text/javascript" src="app/controllers/SoonController.js"></script>
		<script type="text/javascript" src="app/controllers/TodayController.js"></script>
  </body>
</html>