<view title="title">
	<div class="bar bar-subheader bar-stable">
		<h2 class="title">{{title}}</h2>
	</div>
	<content has-header="true" has-subheader="true" padding="true">
		<list>
			<checkbox ng-repeat="task in tasks.inbox | RangeFilter:range" ng-class="{'item-highlight': (focus.task.id === task.id)}"
				 ng-model="task.completed" hm-hold="focusTask(task)" hm-tap="unfocusTask(task)">
				{{task.title}}
			</checkbox>
			<div ng-repeat="project in tasks.projects">
				<checkbox ng-repeat="task in project.tasks | RangeFilter:range" ng-class="{'item-highlight': (focus.task.id === task.id)}"
					ng-model="task.completed" hm-hold="focusTask(task)" hm-tap="unfocusTask(task)">
					{{task.title}}
				</checkbox>
			</div>
		</list>
		<div class="list card" ng-if="tasks === null || tasks === undefined || tasks.length === 0">
			<div class="item item-icon-left assertive">
    			<i class="icon ion-checkmark"></i>
    			There are no tasks here, good job!
  			</div>
  		</div>
	</content>
	<div class="bar bar-footer bar-stable">
		<div class="bar-inner">
			<a class="button button-icon icon ion-edit" ng-disabled="focus.task === null"
				ng-click="editTask(focus.task)">
			</a>
			<a class="button button-icon icon ion-trash-a" ng-disabled="focus.task === null"
				ng-click="deleteTask(focus.task)">
			</a>
		</div>
	</div>
</view>